@model Cycle

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Model</label>
                <input asp-for="Name" class="form-control" id="answer" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category</label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var item in ViewData["Categories"] as IEnumerable<Category>)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label">Price</label>
                <input asp-for="Price" type"date" min="1" class="form-control" id="answer" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PrecentOfDiscount" class="control-label">Precenet Of Discount</label>
                <input asp-for="PrecentOfDiscount" min="0" max="100" class="form-control" id="answer" />
                <span asp-validation-for="PrecentOfDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label">Count</label>
                <input asp-for="Count" min="0" max="100" class="form-control" id="answer" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StarRating" class="control-label">Raiting</label>
                <input asp-for="StarRating" min="1" max="5" class="form-control" id="answer" />
                <span asp-validation-for="StarRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgUrl" class="control-label">Photo</label>
                <input asp-for="ImgUrl" min="0" class="form-control" id="answer" />
                <span asp-validation-for="ImgUrl" class="text-danger"></span>
            </div>
            <div class="form-group d-flex align-items-center">
                <span style="margin-right:1rem;">Is Home Page?:</span>
                <input asp-for="IsHomePage" type="checkbox"  />
            </div>

            <div class="form-group">
                <input type="submit" value="@DefaultConstantValue.DEFAULT_BUTTON_NAME_ADD" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@DefaultConstantValue.DEFAULT_BUTTON_NAME_TO_BACK</a>
</div>