@model BigSaleUpdateDto;

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="min-height:300px;">
                <div class="card">
                    <div class="card-body">
                        <img class="img-fluid" src="@Model.ImgUrl" />
                    </div>
                    <div class="card p-3 mt-3">
                        <input type="file" asp-for="ImgUrl" name="imgUrl" />
                    </div>
                </div>
            </div>
         
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="@DefaultConstantValue.DEFAULT_BUTTON_NAME_ADD" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@DefaultConstantValue.DEFAULT_BUTTON_NAME_TO_BACK</a>
</div>