@using Buisness.BaseMessage
@using Core.DefaultValues
@model ContactCreateDto;
@{
    var user = (ApplicationUser)ViewData["User"];
}
<!-- breadcrumb start -->
<div class="cl-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="cl-breadcrumb-box">
                    <h1>Contact Us</h1>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="javascript:;">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- contact start -->
<div class="cl-contact spacer-top-less spacer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-12">
                <div class="cl-heading">
                    <h1> </h1>
                    <p>Tell Us Your Suggestions and Ideas</p>
                </div>
                <div class="cl-contact-form">
                    <form id="contactForm" asp-action="Create" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Name" class="form-control" placeholder="Name" value="@user?.Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Email" class="form-control" placeholder="Email" value="@user?.Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <textarea asp-for="Message" class="form-control" placeholder="Message"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group">
                            <input item-value="Id" item-title="Name" type="submit" value="Submit" class="btn btn-primary luckButton" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-6 col-md-12">
                <div class="cl-contact-detail">
                    <div class="cl-heading">
                        <h1>Contact Info</h1>
                    </div>
                    <ul>
                        <li><i class="fab fa-linkedin-in"></i><a href="https://www.linkedin.com/in/cavid-ibrahimli-631a8a29b/" style="color:white;">Linkedin</a></li>
                        <li><i class="fas fa-phone-alt"></i> (+994)99 700 80 12</li>
                        <li><i class="far fa-map"></i>8QCG+QP3, to Sadarak, Baku </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact end -->
<!-- map start -->
<div class="cl-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.921506002057!2d49.77422551128726!3d40.321899571335926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d3805bb6d61%3A0x2b8d7a07d98c06c3!2s%C4%B0sma%20Bikes%20Azerbaijan!5e0!3m2!1saz!2saz!4v1717582319045!5m2!1saz!2saz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
    <script>
        $(document).ready(function () {
            $("#contactForm").on("submit", function (e) {
                e.preventDefault(); 

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Create", "GlobalContact")', 
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.isSuccess) {
                            Swal.fire({
                                title: 'Message Status',
                                text: 'Thanks! You will be responded to soon',
                                icon: 'success',
                                confirmButtonText: 'Ok'
                            });
                        } else {
                            Swal.fire({
                                title: 'Message Status',
                                text: 'Sending faild! Make sure the information is correct!',
                                icon: 'error',
                                confirmButtonText: 'Try Again'
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            title: 'Message Status',
                            text: 'Sending faild! Make sure the information is correct!',
                            icon: 'error',
                            confirmButtonText: 'Try Again'
                        });
                    }
                });
            });
        });
    </script>
}
