<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cycle Store DashBoard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom fonts for this template-->
    <link href="~/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/admin/css/sb-admin-2.min.css" rel="stylesheet">

    <link href="~/admin/vendor/datatables/datatables.bootstrap4.min.css" rel="stylesheet" />

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Dashboard <sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Best Racers -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="BestRacer">
                    <svg version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" width="25px" height="25px" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css">
</style> <path class="st0" d="M21.5,3c-1.9,0.1-3.7,0.8-5,2.1L15.6,6h0c1.5,0,2.9,0.7,3.8,1.9C20,8.6,20.9,9,21.9,9c1.9,0,3.4-1.6,3.1-3.5 C24.7,4,23.2,2.9,21.5,3z"></path> <circle class="st0" cx="6" cy="24" r="5"></circle> <circle class="st0" cx="26" cy="24" r="5"></circle> <path class="st0" d="M26,14h-5l-3.2-3.2c-1-1-2.7-1.1-3.8-0.1l-3.5,3c-0.8,0.7-0.7,1.9,0.2,2.5L17,20l-2,6"></path> <line class="st0" x1="18.5" y1="11.5" x2="12.2" y2="17"></line> <circle cx="6" cy="24" r="1"></circle> <circle cx="26" cy="24" r="1"></circle> </g></svg>
                    <span>Best Racers</span>
                </a>
            </li>
            <!-- Nav Item - Activity -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Activity">
                    <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M8 6L21 6.00078M8 12L21 12.0008M8 18L21 18.0007M3 6.5H4V5.5H3V6.5ZM3 12.5H4V11.5H3V12.5ZM3 18.5H4V17.5H3V18.5Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                    </style> <path class="st0" d="M21.5,3c-1.9,0.1-3.7,0.8-5,2.1L15.6,6h0c1.5,0,2.9,0.7,3.8,1.9C20,8.6,20.9,9,21.9,9c1.9,0,3.4-1.6,3.1-3.5 C24.7,4,23.2,2.9,21.5,3z"></path> <circle class="st0" cx="6" cy="24" r="5"></circle> <circle class="st0" cx="26" cy="24" r="5"></circle> <path class="st0" d="M26,14h-5l-3.2-3.2c-1-1-2.7-1.1-3.8-0.1l-3.5,3c-0.8,0.7-0.7,1.9,0.2,2.5L17,20l-2,6"></path> <line class="st0" x1="18.5" y1="11.5" x2="12.2" y2="17"></line> <circle cx="6" cy="24" r="1"></circle> <circle cx="26" cy="24" r="1"></circle> </g></svg>
                    <span>Our Activity</span>
                </a>
            </li>
            <!-- Nav Item - About -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="About">
                    <svg fill="#ffffff" width="25px" height="25px" viewBox="-5.2 -5.2 62.40 62.40" data-name="Layer 1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" transform="matrix(1, 0, 0, 1, 0, 0)rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M26,52A26,26,0,0,1,22.88.19,25.78,25.78,0,0,1,34.73,1.5a2,2,0,1,1-1.35,3.77,22,22,0,0,0-21,38,22,22,0,0,0,35.41-20,2,2,0,1,1,4-.48A26,26,0,0,1,26,52Z"></path><path d="M26,43.86a2,2,0,0,1-2-2V22.66a2,2,0,1,1,4,0v19.2A2,2,0,0,1,26,43.86Z"></path><circle cx="26" cy="15.71" r="2.57"></circle></g></svg>
                    </style> <path class="st0" d="M21.5,3c-1.9,0.1-3.7,0.8-5,2.1L15.6,6h0c1.5,0,2.9,0.7,3.8,1.9C20,8.6,20.9,9,21.9,9c1.9,0,3.4-1.6,3.1-3.5 C24.7,4,23.2,2.9,21.5,3z"></path> <circle class="st0" cx="6" cy="24" r="5"></circle> <circle class="st0" cx="26" cy="24" r="5"></circle> <path class="st0" d="M26,14h-5l-3.2-3.2c-1-1-2.7-1.1-3.8-0.1l-3.5,3c-0.8,0.7-0.7,1.9,0.2,2.5L17,20l-2,6"></path> <line class="st0" x1="18.5" y1="11.5" x2="12.2" y2="17"></line> <circle cx="6" cy="24" r="1"></circle> <circle cx="26" cy="24" r="1"></circle> </g></svg>
                    <span>About Us</span>
                </a>
            </li>
            <!-- Nav Item - Contact -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Contact">
                    <svg fill="#ffffff" width="25px" height="25px" viewBox="0 0 64 64" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="_x32_5_attachment"></g> <g id="_x32_4_office"></g> <g id="_x32_3_pin"></g> <g id="_x32_2_business_card"></g> <g id="_x32_1_form"></g> <g id="_x32_0_headset"></g> <g id="_x31_9_video_call"></g> <g id="_x31_8_letter_box"> <g> <path d="M53.6572,12.4736H41.4077l-0.0132-2.7222h10.4063c0.3604,0,0.6934-0.1943,0.8711-0.5083 c0.1768-0.3145,0.1719-0.6997-0.0146-1.0083l-1.6543-2.7402l1.6719-3.0088c0.1719-0.3101,0.168-0.6875-0.0117-0.9932 C52.4834,1.1875,52.1553,1,51.8008,1H40.3896c-0.5527,0-1,0.4478-1,1v6.7515c0,0.0009,0.0005,0.0015,0.0005,0.0024 s-0.0005,0.0016-0.0005,0.0025l0.0179,3.7173H24.8789c-3.8793,0-7.4057,2.6094-8.6739,6.3091H4.7803 c-0.9618,0-1.8318,0.3844-2.479,1.0008c-0.001,0.0011-0.0024,0.0015-0.0034,0.0026l-0.0002,0.0004 c-0.6891,0.658-1.1238,1.5803-1.1238,2.6066v12.6387c0,1.9888,1.6177,3.6064,3.6064,3.6064H15.71v3.2627c0,0.5522,0.4478,1,1,1 h15.3379v4.7842c-1.4263-0.4462-3.0609-0.4372-4.5693,0.0791c-1.7002,0.5815-2.98,1.7056-3.6592,3.1978 c-4.0586,0.9756-5.9355,4.1704-5.6851,6.9448C18.3628,60.4419,20.4697,63,24.6611,63h20.2471c0.5527,0,1-0.4478,1-1V42.9009 h15.918c0.5527,0,1-0.4478,1-1V21.6426C62.8262,16.5869,58.7129,12.4736,53.6572,12.4736z M41.3896,3h8.7119l-1.1279,2.0298 c-0.1738,0.3135-0.167,0.6958,0.0176,1.0024l1.0381,1.7192h-8.6396V3z M40.2804,21.2544 c0.0557,0.0096,0.1064,0.0332,0.1649,0.0332c0.002,0,0.0029,0,0.0049,0c0.0455-0.0002,0.0844-0.0204,0.1284-0.0266 c1.2291,0.0947,2.2027,1.1118,2.2027,2.3625c0,1.3149-1.0693,2.3848-2.3848,2.3848c-1.3145,0-2.3838-1.0698-2.3838-2.3848 C38.0127,22.3503,39.0208,21.3163,40.2804,21.2544z M16.9093,20.7827c0.0723,0.0023,0.1445,0.0128,0.214,0h7.3386l-9.7466,8.5039 l-9.7526-8.5039H16.9093z M26.183,21.9348c0.0437,0.1462,0.0743,0.298,0.0743,0.4583v12.6387c0,0.1-0.012,0.1969-0.0295,0.2919 l-7.3672-6.9999L26.183,21.9348z M3.3615,35.769c-0.1158-0.2219-0.1876-0.4702-0.1876-0.7373V22.3931 c0-0.1583,0.03-0.3083,0.0726-0.4529L10.8842,28.6L3.3615,35.769z M5.349,36.6382l7.0493-6.7178l1.6599,1.4473 c0.1885,0.1641,0.4229,0.2461,0.6572,0.2461s0.4692-0.082,0.6572-0.2466l1.9741-1.7225l7.355,6.9883 c-0.0175,0.0005-0.0337,0.0052-0.0513,0.0052H5.349z M17.71,38.6382h6.9404c0.9653,0,1.8386-0.3862,2.4866-1.0058 c0.012-0.0115,0.0281-0.0153,0.0397-0.0274c0.0031-0.0033,0.0039-0.0078,0.007-0.0111c0.6617-0.6541,1.0736-1.5603,1.0736-2.5621 V22.3931c0-1.0282-0.4367-1.9517-1.1282-2.6099l-0.0002-0.0004c-0.001-0.0012-0.0026-0.0016-0.0036-0.0028 c-0.6469-0.6141-1.5151-0.9972-2.4749-0.9972h-6.2888c1.1589-2.5566,3.7184-4.3091,6.5173-4.3091 c3.9531,0,7.1689,3.2158,7.1689,7.1689v19.2583H17.71V38.6382z M20.126,57.7271c-0.1797-1.9927,1.3438-4.3203,4.6035-4.9136 c0.3574-0.0649,0.6514-0.3188,0.7681-0.6631c0.5313-1.5693,1.8745-2.2358,2.6284-2.4937 c0.5801-0.1987,1.1924-0.2954,1.7925-0.2954c0.7607,0,1.501,0.1558,2.1294,0.4585V61h-7.3867 C21.5352,61,20.269,59.3091,20.126,57.7271z M34.0479,42.9009h3.0918V61h-3.0918V42.9009z M43.9082,61h-4.7686V42.9009h4.7686V61z M60.8262,40.9009H34.0479V21.6426c0-2.9014-1.3586-5.4876-3.4688-7.1689h8.8382l0.0236,4.881 c-1.9577,0.438-3.4281,2.1822-3.4281,4.2689c0,2.418,1.9668,4.3848,4.3838,4.3848c2.418,0,4.3848-1.9668,4.3848-4.3848 c0-2.0542-1.4276-3.7702-3.3403-4.2414l-0.0237-4.9085h12.2399c3.9531,0,7.1689,3.2158,7.1689,7.1689V40.9009z"></path> </g> </g> <g id="_x31_7_papperplane"></g> <g id="_x31_6_laptop"></g> <g id="_x31_5_connection"></g> <g id="_x31_4_phonebook"></g> <g id="_x31_3_classic_telephone"></g> <g id="_x31_2_sending_mail"></g> <g id="_x31_1_man_talking"></g> <g id="_x31_0_date"></g> <g id="_x30_9_review"></g> <g id="_x30_8_email"></g> <g id="_x30_7_information"></g> <g id="_x30_6_phone_talking"></g> <g id="_x30_5_women_talking"></g> <g id="_x30_4_calling"></g> <g id="_x30_3_women"></g> <g id="_x30_2_writing"></g> <g id="_x30_1_chatting"></g> </g></svg>
                    </style> <path class="st0" d="M21.5,3c-1.9,0.1-3.7,0.8-5,2.1L15.6,6h0c1.5,0,2.9,0.7,3.8,1.9C20,8.6,20.9,9,21.9,9c1.9,0,3.4-1.6,3.1-3.5 C24.7,4,23.2,2.9,21.5,3z"></path> <circle class="st0" cx="6" cy="24" r="5"></circle> <circle class="st0" cx="26" cy="24" r="5"></circle> <path class="st0" d="M26,14h-5l-3.2-3.2c-1-1-2.7-1.1-3.8-0.1l-3.5,3c-0.8,0.7-0.7,1.9,0.2,2.5L17,20l-2,6"></path> <line class="st0" x1="18.5" y1="11.5" x2="12.2" y2="17"></line> <circle cx="6" cy="24" r="1"></circle> <circle cx="26" cy="24" r="1"></circle> </g></svg>
                    <span>Contact</span>
                </a>
            </li>

            <!-- Nav Item - BigSale -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="BigSale">
                    <svg fill="#ffffff" width="25px" height="25px" viewBox="-3 0 19 19" xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M2.865 8.14a2.553 2.553 0 1 1 2.552-2.552 2.555 2.555 0 0 1-2.552 2.553zm0-1.582a.97.97 0 1 0-.97-.97.97.97 0 0 0 .97.97zm7.942-1.991L3.914 14.886a1.03 1.03 0 0 1-1.712-1.143l6.893-10.32a1.03 1.03 0 0 1 1.712 1.144zm1.88 8.215a2.553 2.553 0 1 1-2.552-2.552 2.555 2.555 0 0 1 2.553 2.552zm-1.582 0a.97.97 0 1 0-.97.97.97.97 0 0 0 .97-.97z"></path></g></svg>
                    </style> <path class="st0" d="M21.5,3c-1.9,0.1-3.7,0.8-5,2.1L15.6,6h0c1.5,0,2.9,0.7,3.8,1.9C20,8.6,20.9,9,21.9,9c1.9,0,3.4-1.6,3.1-3.5 C24.7,4,23.2,2.9,21.5,3z"></path> <circle class="st0" cx="6" cy="24" r="5"></circle> <circle class="st0" cx="26" cy="24" r="5"></circle> <path class="st0" d="M26,14h-5l-3.2-3.2c-1-1-2.7-1.1-3.8-0.1l-3.5,3c-0.8,0.7-0.7,1.9,0.2,2.5L17,20l-2,6"></path> <line class="st0" x1="18.5" y1="11.5" x2="12.2" y2="17"></line> <circle cx="6" cy="24" r="1"></circle> <circle cx="26" cy="24" r="1"></circle> </g></svg>
                    <span>Big Sale</span>
                </a>
            </li>

            <!-- Nav Item - Cycle Category -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="CycleCategory">
                    <svg fill="#ffffff" height="25px" width="25px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 493.407 493.407" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M488.474,270.899c-12.647-37.192-47.527-62.182-86.791-62.182c-5.892,0-11.728,0.749-17.499,1.879l-34.324-100.94 c-1.71-5.014-6.417-8.392-11.721-8.392H315.02c-6.836,0-12.382,5.547-12.382,12.382c0,6.836,5.545,12.381,12.382,12.381h14.252 l12.462,36.645H206.069v-21.998l21.732-2.821c3.353-0.434,6.135-3.079,6.585-6.585c0.54-4.183-2.402-8.013-6.585-8.553l-68.929-8.94 c-1.362-0.168-2.853-0.185-4.281,0c-9.116,1.186-15.55,9.537-14.373,18.653c1.185,9.118,9.537,15.55,18.653,14.364l22.434-2.909 v26.004l-41.255,52.798c-14.059-8.771-30.592-13.93-48.349-13.93C41.135,208.757,0,249.885,0,300.443 c0,50.565,41.135,91.7,91.701,91.7c44.882,0,82.261-32.437,90.113-75.095h33.605v12.647h-5.909c-4.563,0-8.254,3.693-8.254,8.254 c0,4.563,3.691,8.254,8.254,8.254h36.58c4.563,0,8.254-3.691,8.254-8.254c0-4.561-3.691-8.254-8.254-8.254h-5.908v-12.647h5.545 c3.814,0,7.409-1.756,9.755-4.756l95.546-122.267l9.776,28.729c-17.854,8.892-32.444,22.965-41.409,41.168 c-10.825,21.973-12.438,46.842-4.553,70.034c12.662,37.201,47.55,62.189,86.815,62.189c10.021,0,19.951-1.645,29.519-4.9 c23.191-7.885,41.926-24.329,52.744-46.302C494.746,318.966,496.367,294.09,488.474,270.899z M143.46,258.542 c7.698,9.488,12.776,21.014,14.349,33.742h-40.717L143.46,258.542z M91.701,367.379c-36.912,0-66.938-30.026-66.938-66.936 c0-36.904,30.026-66.923,66.938-66.923c12.002,0,23.11,3.427,32.864,8.981l-42.619,54.54c-2.917,3.732-3.448,8.794-1.378,13.05 c2.08,4.256,6.4,6.957,11.134,6.957h64.592C148.861,345.906,122.84,367.379,91.701,367.379z M239.69,292.284h-56.707 c-1.839-20.667-10.586-39.329-23.868-53.782l22.191-28.398v32.47c0,6.836,5.545,12.381,12.381,12.381 c6.836,0,12.382-5.545,12.382-12.381v-55.138h115.553L239.69,292.284z M383.546,285.618l6.384,18.79 c1.75,5.151,6.562,8.392,11.721,8.392c1.321,0,2.667-0.21,3.99-0.661c6.471-2.201,9.93-9.23,7.729-15.711l-6.336-18.637 c7.731,1.838,14.221,7.312,16.855,15.083c2.024,5.94,1.613,12.309-1.161,17.935c-2.773,5.626-7.569,9.835-13.509,11.858 c-12.068,4.078-25.716-2.717-29.785-14.671C376.735,300.055,378.597,291.689,383.546,285.618z M461.712,329.994 c-7.908,16.042-21.579,28.044-38.507,33.808c-6.997,2.378-14.244,3.578-21.547,3.578c-28.664,0-54.129-18.249-63.374-45.399 c-5.757-16.926-4.571-35.081,3.328-51.112c6.047-12.27,15.494-22.112,27.165-28.666l8.981,26.416 c-13.414,10.108-19.644,27.931-13.954,44.691c5.522,16.227,20.732,27.124,37.853,27.124c4.378,0,8.707-0.725,12.882-2.145 c10.108-3.434,18.282-10.607,22.999-20.184c4.723-9.585,5.425-20.435,1.982-30.551c-5.545-16.299-21.57-26.787-38.289-26.818 l-8.997-26.472c3.128-0.453,6.28-0.783,9.448-0.783c28.658,0,54.112,18.242,63.351,45.399 C470.788,295.799,469.613,313.96,461.712,329.994z"></path> </g></svg>
                    </style> <path class="st0" d="M21.5,3c-1.9,0.1-3.7,0.8-5,2.1L15.6,6h0c1.5,0,2.9,0.7,3.8,1.9C20,8.6,20.9,9,21.9,9c1.9,0,3.4-1.6,3.1-3.5 C24.7,4,23.2,2.9,21.5,3z"></path> <circle class="st0" cx="6" cy="24" r="5"></circle> <circle class="st0" cx="26" cy="24" r="5"></circle> <path class="st0" d="M26,14h-5l-3.2-3.2c-1-1-2.7-1.1-3.8-0.1l-3.5,3c-0.8,0.7-0.7,1.9,0.2,2.5L17,20l-2,6"></path> <line class="st0" x1="18.5" y1="11.5" x2="12.2" y2="17"></line> <circle cx="6" cy="24" r="1"></circle> <circle cx="26" cy="24" r="1"></circle> </g></svg>
                    <span>Cycle Category</span>
                </a>
            </li>

            <!-- Nav Item - Users -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="User">
                    <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="9" cy="6" r="4" stroke="#ffffff" stroke-width="1.5"></circle> <path d="M15 9C16.6569 9 18 7.65685 18 6C18 4.34315 16.6569 3 15 3" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"></path> <ellipse cx="9" cy="17" rx="7" ry="4" stroke="#ffffff" stroke-width="1.5"></ellipse> <path d="M18 14C19.7542 14.3847 21 15.3589 21 16.5C21 17.5293 19.9863 18.4229 18.5 18.8704" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"></path> </g></svg>
                    </style> <path class="st0" d="M21.5,3c-1.9,0.1-3.7,0.8-5,2.1L15.6,6h0c1.5,0,2.9,0.7,3.8,1.9C20,8.6,20.9,9,21.9,9c1.9,0,3.4-1.6,3.1-3.5 C24.7,4,23.2,2.9,21.5,3z"></path> <circle class="st0" cx="6" cy="24" r="5"></circle> <circle class="st0" cx="26" cy="24" r="5"></circle> <path class="st0" d="M26,14h-5l-3.2-3.2c-1-1-2.7-1.1-3.8-0.1l-3.5,3c-0.8,0.7-0.7,1.9,0.2,2.5L17,20l-2,6"></path> <line class="st0" x1="18.5" y1="11.5" x2="12.2" y2="17"></line> <circle cx="6" cy="24" r="1"></circle> <circle cx="26" cy="24" r="1"></circle> </g></svg>
                    <span>Users</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="~/admin/img/undraw_profile_1.svg"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">
                                            Hi there! I am wondering if you can help me with a
                                            problem I've been having.
                                        </div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="~/admin/img/undraw_profile_2.svg"
                                             alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            I have the photos that you ordered last month, how
                                            would you like them sent to you?
                                        </div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="~/admin/img/undraw_profile_3.svg"
                                             alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!
                                        </div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...
                                        </div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle"
                                     src="~/admin/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/admin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/admin/js/demo/chart-area-demo.js"></script>
    <script src="~/admin/js/demo/chart-pie-demo.js"></script>

    <script src="~/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/admin/js/demo/datatables-demo.js"></script>

    <script src="~/admin/vendor/sweetalert2/sweetalert2.all.js"></script>
    <script src="~/admin/vendor/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/admin/vendor/sweetalert2/sweetalert2.js"></script>
    <script src="~/admin/vendor/sweetalert2/sweetalert2.min.js"></script>


    @RenderSection("Scripts", false)

</body>

</html>