<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from kamleshyadav.com/html/cycling/version-3/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 May 2024 14:53:47 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cycling - Responsive HTML Template</title>
    <link rel="icon" type="image/icon" href="assets/images/fav.png">
   
    <link href="~/assets/css/all.min.css" rel="stylesheet" />
    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/font.css" rel="stylesheet" />
    <link href="~/assets/css/magnific-popup.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/swiper.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <!--Loader Start-->
    <div class="loader_wrapper">
        <div class='loader'>
            <img src="~/assets/images/loader.gif" alt="loader">
        </div>
    </div>
    <div class="cl-main-wraper">
       
       @*  <partial name="_Navbar"/> *@
       @await Html.PartialAsync("_Navbar")
        @RenderBody()
     
        <!-- footer start -->
        <div class="cl-footer spacer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="cl-footer-logo cl-footer-widget">
                            <img src="~/assets/images/logo.png" alt="image">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                            <ul class="cl-social-icons">
                                <li>
                                    <a href="https://www.facebook.com/ibrahimLicav1d?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                                </li>
                               
                                <li>
                                    <a href="https://www.instagram.com/_ibrahimli._._._"><i class="fab fa-google-plus-g"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:;"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="cl-footer-widget">
                            <h2 class="cl-foot-title">Categories</h2>
                            <div class="cl-footer-links">
                                <ul>
                                    <li>
                                        <a href="javascript:;">Road bikes</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Mountain bikes</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Hybrid bikes</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Cyclocross bikes</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Folding bikes</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="cl-footer-widget">
                            <h2 class="cl-foot-title">Overviews</h2>
                            <div class="cl-footer-links">
                                <ul>
                                    <li>
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li>
                                        <a href="about.html">About Us</a>
                                    </li>
                                    <li>
                                        <a href="cart.html">Cart</a>
                                    </li>
                                    <li>
                                        <a href="checkout.html">Checkout</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="cl-footer-widget">
                            <h2 class="cl-foot-title">Newsletter</h2>
                            <div class="cl-footer-newsletter">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                                <form>
                                    <input type="email" placeholder="Email here...">
                                    <button class="cl-btn">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer end -->
        <!-- copyright start -->
        <div class="cl-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cl-copytext">
                            <p>Copyright &copy; 2024, Cycling. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- copyright end -->
       
       
    </div>
    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/swiper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/wow.js"></script>
    <script src="~/assets/js/SmoothScroll.min.js"></script>
    <script src="~/assets/js/magnific-popup.min.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script>(function () { if (!document.body) return; var js = "window['__CF$cv$params']={r:'88020a9718e39dc6',t:'MTcxNTA5MzYyNi4xNTUwMDA='};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='../../../cdn-cgi/challenge-platform/h/b/scripts/jsd/ce7818f50e39/main.js',document.getElementsByTagName('head')[0].appendChild(_cpo);"; var _0xh = document.createElement('iframe'); _0xh.height = 1; _0xh.width = 1; _0xh.style.position = 'absolute'; _0xh.style.top = 0; _0xh.style.left = 0; _0xh.style.border = 'none'; _0xh.style.visibility = 'hidden'; document.body.appendChild(_0xh); function handler() { var _0xi = _0xh.contentDocument || _0xh.contentWindow.document; if (_0xi) { var _0xj = _0xi.createElement('script'); _0xj.innerHTML = js; _0xi.getElementsByTagName('head')[0].appendChild(_0xj); } } if (document.readyState !== 'loading') { handler(); } else if (window.addEventListener) { document.addEventListener('DOMContentLoaded', handler); } else { var prev = document.onreadystatechange || function () { }; document.onreadystatechange = function (e) { prev(e); if (document.readyState !== 'loading') { document.onreadystatechange = prev; handler(); } }; } })();</script>
    @RenderSection("Scripts", false)
    @RenderSection("ScriptMinus", false)
    @RenderSection("ScriptRemove", false)
</body>

<!-- Mirrored from kamleshyadav.com/html/cycling/version-3/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 May 2024 14:54:00 GMT -->
</html>